.glyphicon-heart {
  position: relative;
  top: -15px;
  color: red;
}

.container-fluid {
background: url('../images/bg-header.jpg');
}

.container-fluid.header img {
	float: left;
	margin-right: 20px;
}

.container-fluid.header p{
margin-top: 10px;
}

.container-fluid.footer {
background: url('../images/bg-footer.png');
}
.jumbotron{
background-color: transparent;
}

.container-fluid.footer .jumbotron{
	margin-bottom: 0;

}

.ajax-loader{
display:none;
margin-bottom: 30px;
}

.corazon{
background: url('../images/heart.png') no-repeat;
width: 31px;
height: 30px;
display: inline-block;
}

span.insta{
font-family: 'Shadows Into Light', cursive;
color: red;
font-size: 30px;
}
.col-md-3{
text-align: center;
margin-top: 20px;
}